<h1><b>Web Scrapping Review Hotel dengan SerpAPI</b></h1>

---

*   <h4><b>instal Modul Python Google Search Results<b></h4>

In [94]:
pip install google-search-results

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: google-search-results in /usr/local/lib/python3.7/dist-packages (2.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from google-search-results) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->google-search-results) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->google-search-results) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->google-search-results) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->google-search-results) (2022.9.24)

*    <h4><b>Import Library</b></h4>

In [ ]:
from serpapi import GoogleSearch
from urllib.parse import *

*    <h4><b>Scrapping Local Results</b></h4>
mengambil data 10 objek (hotel) yang memiliki â‰¥ 100 reviews

In [106]:
params = {
  "engine": "google_maps",
  "q": "hotel", # objek yang dicari
  "ll": "@-6.2552348,106.8106399,14.84z", #koordinat tempat sekitar
  "type": "search",
  "api_key": "ea7fc95320e6a3cb7cc5de797549d6be65c5a99b0e4beb4986b4283dec57e863"
}

search = GoogleSearch(params)

lIdx = 0
lSum = 7
local_results = []

while lIdx  <= lSum:
  results = search.get_dict()

  for Result in results["local_results"]:
    lIdx += 1

    if lIdx <= lSum:
      if Result["reviews"] < 200:
        lIdx += 1
        continue
        local_results.append({'Nama': Result["title"],
                           'data_id': Result["data_id"],
                           'total_reviews': Result["reviews"]});
  
  if "next" in results.get("serpapi_pagination", {}):
    search.params_dict.update(dict(parse_qsl(urlsplit(results.get("serpapi_pagination").get("next")).query)))

  else:
    break

https://serpapi.com/search

In [107]:
for LR in local_results:
  print(LR)

{'Nama': 'Hotel Gran Mahakam', 'data_id': '0x2e69f16ca2958d9b:0x9999a91c8ec9630e', 'total_reviews': 4517}
{'Nama': 'Veranda Hotel at Pakubuwono', 'data_id': '0x2e69f115ca81b371:0x6b5c67954e308ea2', 'total_reviews': 6060}
{'Nama': 'Hotel Monopoli', 'data_id': '0x2e69f178e43d6311:0x623693b04941b93c', 'total_reviews': 1505}
{'Nama': 'The Dharmawangsa Jakarta', 'data_id': '0x2e69f170f3863d05:0x16307e5537e5100d', 'total_reviews': 4535}
{'Nama': 'Mercure Jakarta Gatot Subroto', 'data_id': '0x2e69f3bce7a4bdf1:0xae2c6b053bbf55c2', 'total_reviews': 3575}
{'Nama': 'grandkemang Jakarta', 'data_id': '0x2e698d26084302a9:0x834cbb87d50a4c3a', 'total_reviews': 5465}
{'Nama': 'Park Regis Arion', 'data_id': '0x2e69f17faae484e9:0x50eba6f655c29290', 'total_reviews': 2360}

*   <h4><b>Scrapping Reviews</b></h4>
Mengambil 100 data dari masing-masing objek (hotel) sesuai dengan jumlah index yang diinginkan

In [108]:
data = {'Hotel_name':[],
        'name':[],
        'rating':[],
        'review':[]}

for LR in local_results:
  
  params = {
    "engine": "google_maps_reviews",
    "data_id": "",
    "api_key": "08851987a422f702d52c8ac291e6a65769587f7b7fff05544fa7344c8d289dfe"
  }
  
  params["data_id"] = LR['data_id']

  search = GoogleSearch(params)

  lIdx = 0
  lSum = 30

  while lIdx <= lSum:
    results = search.get_dict()

    for Result in results["reviews"]:
      lIdx += 1

      if lIdx <= lSum:
        data['Hotel_name'].append(LR['Nama']);
        data['name'].append(Result["user"]["name"]);
        data['rating'].append(Result["rating"]);
        data['review'].append(Result["snippet"]);

    if "next" in results.get("serpapi_pagination", {}):
      search.params_dict.update(dict(parse_qsl(urlsplit(results.get("serpapi_pagination").get("next")).query)))

    else:
      break
    
review_original = data['review']

https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search

*   <h4><b>Export Data Scrapping</b></h4>

In [141]:
import pandas as pd
dfScrap = pd.DataFrame(data)
dfScrap.to_csv('File CSV/reviewHotelJakarta.csv', index = False)

In [110]:
dfScrap

,Hotel_name,name,rating,review
0,Hotel Gran Mahakam,Robert Gow,4.0,Old boutique hotel but very well maintained. R...
1,Hotel Gran Mahakam,Oggi Gunadi,5.0,Outstanding service from the first sight. Firs...
2,Hotel Gran Mahakam,Fifi Muliadi,5.0,"When I was working, I frequently visited the h..."
3,Hotel Gran Mahakam,Renatha P,5.0,Having all you can eat luncheon in private roo...
4,Hotel Gran Mahakam,Swathi V,5.0,My stay was a combination of quarantine and no...
...,...,...,...,...
205,Park Regis Arion,Dela,3.0,The hotel is noticable from the street. It is ...
206,Park Regis Arion,Ivan Yudhi,3.0,I must say I'm a bit disappointed about this h...
207,Park Regis Arion,adi purnomo,4.0,A good 3 stars hotel. The food is ok. Eventhou...
208,Park Regis Arion,Audi Kasbara,4.0,It's an upscale medium-sized hotel at the hear...
209,Park Regis Arion,Satya Rahadhian,5.0,This used to be Swiss Bell Arion Hotel. Very s...